<h1>Building list:</h1>
<ul>
<% @buildings.each do |b| %>
<li><b><%= link_to b.name, building_path(b) %><br>
    List of available floors:</b>
    <%= b.number_of_floors_available.join(", ")%></li><br>
<% end %>
</ul>